/* Base */
:root {
  box-sizing: border-box;
  font-size: 10px;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 0.75rem;
}

body * + * {
  margin-top: 2rem;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  width: 100%;
}

/***** Placeholders *****/
.showcase__image-caption {
  font-size: 1.4rem;
  font-style: italic;
}

.copyright, .colophon {
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
}

/***** Typography *****/
body {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
}

h1,
h2,
h3 {
  color: #0c1821;
  font-weight: 400;
  margin: 0;
  padding: 3rem 0;
  text-align: center;
}

a {
  color: #29648a;
  text-decoration: none;
  transition: color 0.5s;
}
a:hover {
  color: #06a77d;
}

.menu-nav {
  font-size: 2rem;
  text-transform: lowercase;
}

.logo {
  color: #0c1821;
  margin-top: 0;
  text-align: center;
}
.logo__mark {
  font-size: 15.6rem;
}

.about-me__tagline--italic {
  font-style: italic;
}

.showcase__title {
  font-weight: 600;
}

@media (min-width: 600px) {
  .showcase__image-caption {
    font-size: 1.1rem;
  }
}

.social-media li a {
  font-size: 2.6rem;
}

/* Navigation */
.menu-nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
  padding-top: 2rem;
}
.menu-nav li {
  margin-top: 0;
}
@media (min-width: 600px) {
  .menu-nav {
    justify-content: flex-end;
  }
  .menu-nav li + li {
    padding-left: 3rem;
  }
}

/***** About me *****/
.about-me {
  margin-top: 4rem;
  padding: 0 2rem;
}
@media (min-width: 600px) {
  .about-me {
    padding: 0 1rem;
  }
  .about-me__text {
    display: flex;
  }
  .about-me__text p {
    flex: 1;
    margin-top: 0;
  }
  .about-me__text--left-column {
    padding-right: 1rem;
  }
  .about-me__text--right-column {
    padding-left: 1rem;
  }
}

/***** Showcase *****/
.showcase__gallery {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 800px) {
  .showcase__gallery {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 0.5em;
    grid-template-columns: 2fr 1fr 1fr 2fr;
  }
  .showcase__gallery > figure {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .showcase__gallery img {
    flex: 1;
    max-width: 100%;
    object-fit: fill;
  }
}
@media (min-width: 800px) {
  .showcase_img-1 {
    grid-column: span 1;
  }
  .showcase__img-2 {
    grid-column: span 3;
  }
  .showcase__img-3 {
    grid-column: span 2;
  }
  .showcase__img-4 {
    grid-column: span 2;
  }
}

/***** Footer *****/
footer {
  margin-top: 7.5rem;
}
@media (min-width: 600px) {
  footer {
    margin-top: 15rem;
  }
}

.colophon {
  margin: 0 auto;
  width: 85%;
}
@media (min-width: 600px) {
  .colophon {
    width: 52.5rem;
  }
}

.colophon span:nth-child(1) {
  color: #dd5a6f;
  font-weight: 600;
}

.colophon span:nth-child(2) {
  color: #5a6fdd;
  font-weight: 600;
}

.colophon span:nth-child(3) {
  color: #5add87;
  font-weight: 600;
}

.colophon span:nth-child(4) {
  color: #E15119;
  font-weight: 600;
}

.colophon span:nth-child(5) {
  color: #c85add;
  font-weight: 600;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 0;
}

.social-media li {
  margin-top: 0;
}

.copyright {
  margin-top: 1rem;
  padding: 0 0 2rem;
}

/*# sourceMappingURL=style.css.map */
