/* Base */
:root {
  box-sizing: border-box;
  font-size: 10px;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: $body-background-color;
  margin: 0 auto;
  max-width: $size-baseline * 100;
  padding: 0 decrease($size-baseline, .25);
}

body *+* {
  margin-top: $size-baseline * 2;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  width: 100%;
}
