/* Navigation */

.menu-nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
  padding-top: $size-baseline * 2;

  & li {
    margin-top: 0;
  }
  @include tablet {
    justify-content: flex-end;

    & li + li {
      padding-left: $size-baseline * 3;
    }
  }
}

/***** About me *****/

.about-me {
  margin-top: increase($size-baseline, 3rem);
  padding: 0 ($size-baseline * 2);
  @include tablet {
    padding: 0 $size-baseline;

    &__text {
      display: flex;

      & p {
        flex: 1;
        margin-top: 0;
      }

      &--left-column {
        padding-right: $size-baseline;
      }

      &--right-column {
        padding-left: $size-baseline;
      }
    }
  }
}

/***** Showcase *****/

.showcase {
  &__gallery {
    display: flex;
    flex-direction: column-reverse;
    @include desktop {
      display: grid;
      grid-auto-flow: dense;
      grid-gap: 0.5em;
      grid-template-columns: 2fr 1fr 1fr 2fr;

      & > figure {
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      & img {
        flex: 1;
        max-width: 100%;
        object-fit: fill;
      }
    }
  }
  @include desktop {
    &_img-1 {
      grid-column: span 1;
    }

    &__img-2 {
      grid-column: span 3;
    }

    &__img-3 {
      grid-column: span 2;
    }

    &__img-4 {
      grid-column: span 2;
    }
  }
}

/***** Footer *****/

footer {
  margin-top: $size-baseline * 7.5;
  @include tablet {
    margin-top: $size-baseline * 15;
  }
}

.colophon {
  margin: 0 auto;
  width: 85%;
  @include tablet {
    width: 52.5rem;
  }
}

@each $color in $color-list {
  $i: index($color-list, $color);

  .colophon span:nth-child(#{$i}) {
    color: $color;
    font-weight: 600;
  }
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: $size-baseline * 4;
  margin-bottom: $size-baseline * 4;
  padding-left: 0;
}

.social-media li {
  margin-top: 0;
}

.copyright {
  margin-top: $size-baseline;
  padding: 0 0 2rem;
}
