/* Navigation */
.menu-nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
  padding-top: $size-baseline * 2;
  & li {
    margin-top: 0;
  }
  @include tablet {
    justify-content: flex-end;

    & li + li {
      padding-left: $size-baseline * 3;
    }
  }
}
