/* Nav Section */
.menu-nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
  padding-top: 2rem;
  @include tablet {
    justify-content: flex-end;

    & li {
      margin-top: 0;

      &+li {
        padding-left: 3rem;
      }
    }
  }
}
