/***** Typography *****/

body {
  color: $body-text-color;
  font-family: "Open Sans", sans-serif;
  font-size: $font-size-default;
  line-height: 1.75;
}

h1,
h2,
h3 {
  color: $logo-color;
  font-weight: $font-weight-default * 4;
  margin: 0;
  padding: increase($size-baseline, 2) 0;
  text-align: center;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.5s;

  &:hover {
    color: $link-hover-color;
  }
}

.menu-nav {
  font-size: increase($font-size-default, .4rem);
  text-transform: lowercase;
}

.logo {
  color: $logo-color;
  margin-top: 0;
  text-align: center;

  &__mark {
    font-size: increase($font-size-default, 14rem);
  }
}

.about-me__tagline--italic {
  font-style: italic;
}

.showcase__title {
  font-weight: $font-weight-default * 6;
}

.showcase__image-caption {
  @extend %small-text-italic;
  @include tablet {
    font-size: decrease($font-size-default, .5rem);
  }
}

.social-media li a {
  font-size: increase($font-size-default, 1rem);
}

.colophon {
  @extend %small-text-centered-italic;
}

.copyright {
  @extend %small-text-centered-italic;
}
