$tablet-width: 600px;
$desktop-width: 800px;

$alternate-backround-color: #aaabb8;
$body-text-color: #333333;
$body-background-color: #ffffff;
$main-font-color: #555752;
$link-color: #29648a;
$logo-color: #0c1821;
$link-hover-color: #06a77d;
$sass-color: #dd5a6f;
