$size-baseline: 1rem;

$tablet-width: 600px;
$desktop-width: 800px;


$font-size-default: 1.6rem;
$font-weight-default: 100;

$alternate-backround-color: #aaabb8;
$body-text-color: #333333;
$body-background-color: #ffffff;
$main-font-color: #555752;
$link-color: #29648a;
$logo-color: #0c1821;
$link-hover-color: #06a77d;

$sass-color: #dd5a6f;
$grid-color: #5a6fdd;
$flex-color: #5add87;
$mixin-color: #E15119;
$fixin-color: #c85add;


$color-list: $sass-color, $grid-color, $flex-color, $mixin-color, $fixin-color;
